body{
 top: 0;
 margin:0;
/* background: #efefef;*/
/*    background: url(images/images.jpg);*/
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
}
a{
	text-decoration: none;
    color: #5c95f2;
}
p{
    color: black;
}
.logo{
	font-size: 35px;
	margin-top: 3%;
    color: black;
	margin-left: 3%;
}
#signup1{
	margin-left: 45%;
    color:dimgray;
	font-family: courier new ;
	font-size: 50px;
}
#signup2{
	margin-left: 46%;
    color:dimgray;
	font-family: courier new ;
	font-size: 50px;
}
#login1{
	margin-left: 40.5%;
    color:dimgray;
	font-family: courier new ;
	font-size: 4vh;
}
#login2{
    margin-left: 47.8%;
    color:dimgray;
    font-family: courier new;
    font-size: 4vh;
}
.line{
    position: relative;
	height: 400px;
	border-left: 2px solid gray;
	margin-left: 52%;
	margin-top: 2%;
}
.privacy{
	font-family: arial;
	font-size: 10px;
	margin-left: 43.5%;
	margin-top: 2%;
}
.box{
	position: absolute;
	padding: 50px 20px 0px 20px;
    padding-top: 20px;
	margin-left: 15%;
	margin-top: -27.5%;
	height: 350px;
    background: transparent;
	width: 500px;
	/*border: 1px solid black;*/
}
.box .inputbox{
	position: relative;
	cursor: text;
/*    background: inherit;*/
}
.box .inputbox input{
	background: #efefef;
	width:100%;
    background:transparent;
	border: 0;
	padding: 10px 0;
	font-size: 20px;
	color: black;
	border-bottom: 1.5px solid gray;
	outline: 0;
}
.box .inputbox label{
	position: absolute;
	top:0;
	left: 0;
	pointer-events: none;
	color:antiquewhite;
	font-size: 1vw;
	padding: 10px;
	transition: .5s;
}
.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label
{
	top: -18px;
	padding: 5px;
	left: 0;
	font-size: 15px;
	color:dimgray;
}
.sign{
	margin-top: 3%;
	margin-left: 40.5%;
	padding:4px;
	width: 120px;
	height: 32px; 
/*    background: red;*/
}
input[type="submit"]{
    width: 120px;
    height: 32px;
    border: none;
    border-radius: 2px;
    margin bottom: 28px;
    background: dimgray;
    color: white;
    font-family: sans-serif;
    font-weight:600;
    text-transform: uppercase;
    transition: 0.2 ease;
    cursor: pointer;
}
.box:hover{
/*	box-shadow: 0 5px 20px;*/
}
input[type="submit"]:hover,
input[type="submit"]:focus
{
    background: darkgray;
    transition: 0.2s ease;
}
.right-box{
    position: relative;
	padding: 50px 20px 0px 20px;
	margin-right:11%;
	margin-top: -27.5%;
	height: 325px;
	width: 500px;
    float: right;
    background-size:cover; 
}
.right-box:hover{
/*	box-shadow: 0 5px 20px; */
}
.right-box.button{
    height: 25px;
}
.social_facebook{
    background-color:dodgerblue ;
    position: absolute;
    border: 1px solid white;
    border-radius: 2px;
    height: 45px;
    width: 300px;
    color: black;
    background: white;
    margin-left: 57.15%;
    margin-top: -19%;
    cursor: pointer;
    
}
.social_facebook:hover{
    box-shadow: 0 0 5px white;
}

/*
.social_google{
    border: none;
    height: 45px;
    width: 370px;
    color: white;
    background: red;
    margin: 35px;
    cursor: pointer;
*/
}

